<div class="title-container">
    <br>
    <div class="container text-prim">
        <div class="row">
            <!-- <div class="col-md-6">
                <button class="btn button-prim m-1 button-right" (click)="processData()">
                    <i class="bi bi-folder-symlink"></i> Convert
                </button>
                <div class="form-check form-switch form-check-inline text-white">
                    <input class="form-check-input switch-check" [(ngModel)]="productName" type="checkbox"
                        id="productName">
                    <label class="form-check-label" for="productName">ProductName</label>
                </div>
                <div class="form-check form-switch form-check-inline text-white">
                    <input class="form-check-input switch-check" [(ngModel)]="productId" type="checkbox" id="productId">
                    <label class="form-check-label" for="productId">ProductId</label>
                </div>
            </div> -->
            <div class="col-md-6">
                <h3>Create Comment Dev</h3>
            </div>
        </div>
    </div>
    <br>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="row" [formGroup]="form" (ngSubmit)="sendValidation()">
                <div class="col-md-12">
                    <label for="validationCustom01" class="form-label text-white">QA URL</label>
                    <input type="text" class="form-control input-color" formControlName="QA">
                    <div *ngIf="form.get('QA')!.invalid && form.get('QA')!.touched" class="text-danger">
                        QA URL is required
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="validationCustom01" class="form-label text-white">Production URL</label>
                    <input type="text" class="form-control input-color" formControlName="Production">
                    <div *ngIf="form.get('Production')!.invalid && form.get('Production')!.touched" class="text-danger">
                        Production URL is required
                    </div>
                </div>
                <!-- <div class="col-md-6">
                    <label for="validationCustom01" class="form-label text-white">Type Robot</label>
                    <select class="form-select input-color" formControlName="typeRobot"
                        aria-label="Default select example">
                        <option selected value="crawler">Crawler</option>
                        <option value="updater">Updater</option>
                    </select>
                    <div *ngIf="form.get('typeRobot')?.invalid && form.get('typeRobot')?.touched" class="text-danger">
                        Type Robot is required
                    </div>
                </div> -->
                <div class="col-md-12">
                    <label for="validationCustom02" class="form-label text-white">Manufacturers</label>
                    <input type="text" class="form-control input-color" formControlName="Manufacturers">
                    <div *ngIf="form.get('Manufacturers')?.invalid && form.get('Manufacturers')?.touched"
                        class="text-danger">
                        Manufacturers is required
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="validationCustom02" class="form-label text-white">Complementary QA Url</label>
                    <input type="text" class="form-control input-color" formControlName="compleUrlQA">
                    <div *ngIf="form.get('compleUrlQA')?.invalid && form.get('compleUrlQA')?.touched" class="text-danger">
                        Complementary QA Url is required and should be a valid URL
                    </div>
                </div>
                <div *ngIf="form.value.typeRobot == 'crawler'" class="col-md-12">
                    <label for="validationCustom02" class="form-label text-white">Complementary Production Url</label>
                    <input type="text" class="form-control input-color" formControlName="compleUrlProd">
                    <div *ngIf="form.get('compleUrlProd')?.invalid && form.get('compleUrlProd')?.touched" class="text-danger">
                        Complementary Production Url is required and should be a valid URL
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="validationCustom02" class="form-label text-white">Culture Code</label>
                    <input type="text" class="form-control input-color" formControlName="cultureCode">
                    <div *ngIf="form.get('cultureCode')?.invalid && form.get('cultureCode')?.touched"
                        class="text-danger">
                        Culture Code is required
                    </div>
                </div>
                <div class="col-12">
                    <button *ngIf="!loadingbutton; else spinnerButton" class="btn button-prim button-send" type="submit">Run Validation</button>
                    <ng-template #spinnerButton>
                        <button type="button" class="btn button-prim button-send" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                    </ng-template>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="content-terminal">
                <label *ngIf="!logUrl; else urlLog" class="form-label text-white">Validation log</label>
                <ng-template #urlLog>
                    <label class="form-label text-white text-url">Run#
                        <a target="_blank" [href]="logUrl">{{logUrl | truncate:50}}</a>
                    </label>
                    <button class="btn button-prim button-url" (click)="copyUrl()">
                        <i class="bi bi-copy"></i>
                    </button>
                </ng-template>
                <button class="btn button-prim button-right"><i class="bi bi-fullscreen"></i></button>
                <div *ngIf="logs != null; else loading">
                    <pre class="text-white terminal-text" [innerHTML]="logs | highlightText"></pre>
                </div>
                <ng-template #loading>
                    <pre class="text-white terminal-text">Loading...</pre>
                </ng-template>
            </div>
        </div>
    </div>
</div>